altair  
attrs  
blinker  
cachetools  
certifi  
charset-normalizer  
click  
colorama  
Flask  
gitdb  
GitPython  
idna  
itsdangerous  
Jinja2  
joblib  
jsonschema  
jsonschema-specifications  
MarkupSafe
matplotlib
matplotlib-inline  
narwhals  
numpy  
packaging  
pandas  
pillow  
protobuf  
pyarrow  
pydeck  
python-dateutil  
pytz  
referencing  
requests  
rpds-py  
scikit-learn  
scipy  
six  
smmap  
streamlit  
tenacity  
threadpoolctl  
toml  
tornado  
typing_extensions  
tzdata  
urllib3  
watchdog  
Werkzeug  
seaborn  
matplotlib  
matplotlib-inline  
